body{
    margin: 0 0 0 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(200deg,#bdb6ec,#87CEFA);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    user-select: none;
}

.glass{
    background: rgba(255,255,255,0.25);
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color: rgba(255, 255, 255, 0.15);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.level-container{
    width: 100%;
    display: flex;
    justify-content:center;
}

#MouseFollow {
    background:rgba(255,255,255,0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:0;
}

#sq-ci{
    position: absolute;
    width: 100%;
    height: 100%;
}

#search-container{
    flex-basis: 20%;
}

#search{
    text-align: left;
    width: 55%;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family:inherit;
}

#search:focus{
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px;
    outline: 0;
}

input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#path-container{
    width: 60%;
    height: 20%;
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
}

.path{
    height: 10vw;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path:hover{
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px;
}

.path > img{
    width: 40%;
    height: 40%;
}

img:not([src]){
    opacity:0;
}
